name: fake_mega_store
description: Aplicativo Loja Fake MegaStore com API FakeStore, rotas e carrinho.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Pacote para fazer requisições HTTP (usado em ApiService)
  http: ^1.2.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  # Se no futuro você colocar imagens locais, use a pasta assets/
  # e descomente esse bloco:
  #
  # assets:
  #   - assets/
